%h1 Listing Posts
= form_tag posts_path, method: "get" do
  = text_field_tag :filter
  = submit_tag "Filter", class: "btn btn-large btn-primary"
%table
  %tr
    %th Title
    %th Text
    %th
    %th
    %th
      - @posts.each do |post|
        %tr
          %td
            = post.title
          %td
            = post.text
          %td
            = link_to "show", post_path(post.id)
          %td
            = link_to "edit", edit_post_path(post.id)
          %td
            = link_to "delete", post_path(post.id), method: 'delete'