!!!
%html{"ng-app" => "commentsApp"}
  %head
    %title Blog
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if flash[:notice]
      %p.notice= notice
    - if flash[:alert]
      %p.alert= alert
    %header.navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          = link_to "Blogy", root_path, id: "logo"
          %nav
            %ul.nav.pull-right
              - if user_signed_in?
                %li= link_to "Sign out", destroy_user_session_path, :method => "delete"
              - else
                %li= link_to "Sign in", new_user_session_path
    .container
      = yield
    %footer.footer
